/* RESET */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 100%;
}


/* CLASSES */

.container {
	max-width: 990px;
}
.band {
	background-color: rgba(34, 34, 34, 0.5);
	padding: 12px 24px;
	margin: 12px auto;
}
.container p {
	font-weight: 100;
}
.signup-wrap {
	margin-right: auto !important;
	margin-left: auto !important;
	padding-right: 30px !important;
	padding-left: 30px !important;
	max-width: 600px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}


/* TYPOGRAPHY */

body {
	font: 13px/1.5 'Roboto';
	text-rendering: optimizeLegibility;
	background: #242424;
}


/* WRAP */

.wrap {
	padding: 120px 0;
	color: white;
	text-align: center;
	background: url(background.jpg) no-repeat center;
	background-size: cover;	
}

.logo {
	max-width: 60%;
	height: 150px;
}

.desc {
	margin: 50px 0;
	font-weight: 100;
	font-size: 32px;
}

.launching {
	font-weight: 100;
	padding-top: 24px;
}

.signup {
	color: #e4e4e4;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	padding-top: 28px;
}
.feature {
	color: #e4e4e4;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	padding-top: 6px;
}

form {
	position: relative;
	margin: 30px auto 0;
	max-width: 360px;
	font-size: 0;
}

input {
	border: none;
	border-radius: 100px;
	text-align: center;
	font-size: 18px;
	font-family: inherit;
}

input:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: #e4e4e4;
}

::-moz-placeholder {
	color: #e4e4e4;
}

:-ms-input-placeholder {
	color: #e4e4e4;
}

:-moz-placeholder {
	color: #e4e4e4;
}

input[type="email"] {
	display: block;
	padding: 12px;
	width: 100%;
	color: #242424;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="submit"] {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 40px;
	height: 40px;
	background: #242424 url(arrow.svg) no-repeat center;
	color: white;
	text-indent: -999em;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


/* FOOTER */

.footer {
	padding: 72px 0;
	color: #646464;
	font-size: 14px;
}

.footer a {
	color: #646464;
	text-decoration: none;
}

.footer a:hover {
	color: #d9d9d9;
}


/* RESPONSIVE */

@media (max-width: 768px) {
	.launching {
		display: inline;
	}
}

@media (max-width: 480px) {
	.wrap {
		padding: 60px 0;
	}

	.desc {
		margin: 30px 0;
	}
}


.attribution {
	border-top: solid 1px #646464;
	margin-top: 60px;
	padding: 6px;
	text-align: center;
	color: #646464;
	font-size: 10px;
}
.attribution a {
	color: #646464;
	text-decoration: none;
}

.attribution a:hover {
	color: #646464;
}

.feature-img {
width: 48px;
height: 48px;
margin: 24px auto 16px auto;
}